@media screen and (min-width: 1200px)
  .catalog
    margin-top: (100 / 1000) * 100vh

  .cart
    &_nav
      margin: ((50 / 1000) * 100vh) 0 ((111 / 1000) * 100vh) 0

@media screen and (min-width: 768px) and (max-width: 1199.9px)
  .search
    &_box
      &_open
        width: 300px
  
  .cart
    &_items
      max-height: 60vh
    &_item
      &_title
        font-size: 20px
      &_price
        font-size: 18px
        margin: 0
  .catalog
    margin-top: (75 / 1000) * 100vh

@media screen and (min-width: 768px) and (max-width: 1199.9px) and (orientation: landscape)
  .search
    transform: translateX(0)
    &_slided
      transform: translateX(-(635 / 1920) * 100vw)
  .cart
    top: 0
    right: -45vw
    width: 45vw
    &_slide
      right: 0
    &_items
      margin-right: -11px
      max-height: 50vh
    &_item
      &_price
        margin: 0
  .catalog 
    transform: translateX(0)
    &_slided 
      transform: translateX(-(740 / 1920) * 100vw)

@media screen and (min-width: 576px) and (max-width: 767.9px)
  .cart
    &_items
      max-height: 60vh
  h1
    font-size: 23px

  h2
    font-size: 20px

  h3
    font-size: 18px
  .catalog
    margin-top: 90px
    transition: none
    &_slided 
      transform: translateX(0)
    &_item
      &_img
        max-width: 80%

@media screen and (max-width: 575.9px) and (min-width: 375px)
  .cart
    &_items
      max-height: 55vh
    &_item
      &_price
        margin: 0
  .catalog
    margin-top: 100px

@media screen and (max-width: 374.9px) and (min-width: 320px)
  .cart
    &_items
      max-height: 48vh
    &_item
      &_price
        margin: 0
      &_amount
        &_number
          font-size: 18px
  .catalog
    margin-top: (50 / 1000) * 100vh

@media screen and (orientation: portrait)
  .search
    position: absolute
    right: 0
    top: 70px
    height: 50px
    width: 100%
    transition: none
    &_box
      padding: 10px 20px 10px 15px
      width: 100%
      &_open
        padding: 10px 20px 10px 15px
        width: 100%
    &_slided
      transform: translateX(0)
  .catalog
    margin-top: 90px

  .cart
    padding: 0 (20 / 1000) * 100vh
    right: -100vw
    width: 100vw
    &_slide
      right: 0
    &_items
      margin-right: -11px
    &_nav
      margin: ((50 / 1000) * 100vh) 0 ((20 / 1000) * 100vh) 0
