### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history


### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map


# Dependency
node_modules
/**/package-lock.json

# Optional npm cache directory
.npm

# Logs
logs
*.log
npm-debug.log*

# Build directory
/dist

# Other
/src/css/
/.git/
/**/*.xd
/**/*.psd

/**/Thumbs.db
/**/.DS_Store